body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c77070;
    margin: 0;
}

.envelope {
    font-size: 100px;
    cursor: pointer;
    position: relative;
}

.message {

    position: fixed;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: pink;
        padding-bottom: 0px;
        /* padding: 240px 100px 0px 100px; */
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        justify-items: center;
}

.hidden {
    display: none;
}
